{% load static %}
<html lang="en">
<head>
  <title>Typing Speed Test B</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="container">
    <div class="heading">How fast can you type the alphabet?</div>
    <div class="header">
      <div class="wpm">
        <div class="header_text">WPM</div>
        <div class="curr_wpm">100</div>
      </div>
      <div class="cpm">
        <div class="header_text">CPM</div>
        <div class="curr_cpm">100</div>
      </div>
      <div class="errors">
        <div class="header_text">Errors</div>
        <div class="curr_errors">0</div>
      </div>
      <div class="timer">
        <div class="header_text">Time</div>
        <div class="curr_time">0s</div>
      </div>
      <div class="accuracy">
        <div class="header_text">% Accuracy</div>
        <div class="curr_accuracy">100</div>
      </div>
    </div>

    <div class="quote">Click on the area below to start the game...</div>
    <textarea class="input_area" name="textarea" placeholder="Type here..." oninput="processCurrentText()"
      onfocus="startGame()"></textarea>
    <form>
      <input type="button" class="goBack_btn" value="Go back!" onclick="history.back()">
    </form>
    <button class="restart_btn" name="restartbtn" onclick="resetValues()">Restart</button>
  </div>
  <script src="{% static 'gameModeB.js' %}"></script>
</body>
</html>
</html>